@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("public/fonts/inter/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("public/fonts/inter/InterVariable-Italic.woff2") format("woff2");
}

/* static fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/inter/Inter-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("public/fonts/inter/Inter-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("public/fonts/inter/Inter-ExtraLightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("public/fonts/inter/Inter-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("public/fonts/inter/Inter-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("public/fonts/inter/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("public/fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("public/fonts/inter/Inter-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("public/fonts/inter/Inter-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("public/fonts/inter/Inter-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("public/fonts/inter/Inter-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("public/fonts/inter/Inter-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-ExtraLightItalic.woff2")
    format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Light.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-SemiBoldItalic.woff2")
    format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-ExtraBoldItalic.woff2")
    format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "InterDisplay";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("public/fonts/inter/InterDisplay-BlackItalic.woff2") format("woff2");
}

/* Fallback fonts */
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 100;
  src: local("Arial");
  ascent-override: 94.86%;
  descent-override: 23.62%;
  line-gap-override: 0%;
  size-adjust: 102.12%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 100;
  src: local("Arial Italic");
  ascent-override: 94.86%;
  descent-override: 23.62%;
  line-gap-override: 0%;
  size-adjust: 102.12%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 200;
  src: local("Arial");
  ascent-override: 93.11%;
  descent-override: 23.18%;
  line-gap-override: 0%;
  size-adjust: 104.04%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 200;
  src: local("Arial Italic");
  ascent-override: 93.11%;
  descent-override: 23.18%;
  line-gap-override: 0%;
  size-adjust: 104.04%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 300;
  src: local("Arial");
  ascent-override: 91.42%;
  descent-override: 22.76%;
  line-gap-override: 0%;
  size-adjust: 105.97%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 300;
  src: local("Arial Italic");
  ascent-override: 91.42%;
  descent-override: 22.76%;
  line-gap-override: 0%;
  size-adjust: 105.97%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 89.79%;
  descent-override: 22.36%;
  line-gap-override: 0%;
  size-adjust: 107.89%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic");
  ascent-override: 89.79%;
  descent-override: 22.36%;
  line-gap-override: 0%;
  size-adjust: 107.89%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  ascent-override: 88.83%;
  descent-override: 22.12%;
  line-gap-override: 0%;
  size-adjust: 109.05%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 500;
  src: local("Arial Italic");
  ascent-override: 88.25%;
  descent-override: 21.97%;
  line-gap-override: 0%;
  size-adjust: 109.77%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 600;
  src: local("Arial Bold");
  ascent-override: 95.11%;
  descent-override: 23.68%;
  line-gap-override: 0%;
  size-adjust: 101.86%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 600;
  src: local("Arial Bold Italic");
  ascent-override: 94.48%;
  descent-override: 23.52%;
  line-gap-override: 0%;
  size-adjust: 102.53%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 700;
  src: local("Arial Bold");
  ascent-override: 94.12%;
  descent-override: 23.43%;
  line-gap-override: 0%;
  size-adjust: 102.93%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 700;
  src: local("Arial Bold Italic");
  ascent-override: 93.5%;
  descent-override: 23.28%;
  line-gap-override: 0%;
  size-adjust: 103.6%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 800;
  src: local("Arial Bold");
  ascent-override: 92.93%;
  descent-override: 23.14%;
  line-gap-override: 0%;
  size-adjust: 104.24%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 800;
  src: local("Arial Bold Italic");
  ascent-override: 92.33%;
  descent-override: 22.99%;
  line-gap-override: 0%;
  size-adjust: 104.92%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: normal;
  font-weight: 900;
  src: local("Arial Bold");
  ascent-override: 91.67%;
  descent-override: 22.83%;
  line-gap-override: 0%;
  size-adjust: 105.67%;
}
@font-face {
  font-family: "Inter Fallback";
  font-style: italic;
  font-weight: 900;
  src: local("Arial Bold Italic");
  ascent-override: 91.08%;
  descent-override: 22.68%;
  line-gap-override: 0%;
  size-adjust: 106.36%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 100;
  src: local("Arial");
  ascent-override: 107.13%;
  descent-override: 26.67%;
  line-gap-override: 0%;
  size-adjust: 90.43%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 100;
  src: local("Arial Italic");
  ascent-override: 106.59%;
  descent-override: 26.54%;
  line-gap-override: 0%;
  size-adjust: 90.89%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 200;
  src: local("Arial");
  ascent-override: 104.12%;
  descent-override: 25.92%;
  line-gap-override: 0%;
  size-adjust: 93.04%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 200;
  src: local("Arial Italic");
  ascent-override: 103.57%;
  descent-override: 25.79%;
  line-gap-override: 0%;
  size-adjust: 93.53%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 300;
  src: local("Arial");
  ascent-override: 101.26%;
  descent-override: 25.21%;
  line-gap-override: 0%;
  size-adjust: 95.67%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 300;
  src: local("Arial Italic");
  ascent-override: 100.7%;
  descent-override: 25.07%;
  line-gap-override: 0%;
  size-adjust: 96.2%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 98.56%;
  descent-override: 24.54%;
  line-gap-override: 0%;
  size-adjust: 98.29%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic");
  ascent-override: 98.01%;
  descent-override: 24.4%;
  line-gap-override: 0%;
  size-adjust: 98.84%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  ascent-override: 96.48%;
  descent-override: 24.02%;
  line-gap-override: 0%;
  size-adjust: 100.41%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 500;
  src: local("Arial Italic");
  ascent-override: 95.92%;
  descent-override: 23.88%;
  line-gap-override: 0%;
  size-adjust: 100.99%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 600;
  src: local("Arial Bold");
  ascent-override: 102.22%;
  descent-override: 25.45%;
  line-gap-override: 0%;
  size-adjust: 94.77%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 600;
  src: local("Arial Bold Italic");
  ascent-override: 101.66%;
  descent-override: 25.31%;
  line-gap-override: 0%;
  size-adjust: 95.3%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 700;
  src: local("Arial Bold");
  ascent-override: 100.15%;
  descent-override: 24.94%;
  line-gap-override: 0%;
  size-adjust: 96.73%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 700;
  src: local("Arial Bold Italic");
  ascent-override: 99.59%;
  descent-override: 24.8%;
  line-gap-override: 0%;
  size-adjust: 97.27%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 800;
  src: local("Arial Bold");
  ascent-override: 97.73%;
  descent-override: 24.33%;
  line-gap-override: 0%;
  size-adjust: 99.13%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 800;
  src: local("Arial Bold Italic");
  ascent-override: 97.19%;
  descent-override: 24.2%;
  line-gap-override: 0%;
  size-adjust: 99.68%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: normal;
  font-weight: 900;
  src: local("Arial Bold");
  ascent-override: 95.23%;
  descent-override: 23.71%;
  line-gap-override: 0%;
  size-adjust: 101.72%;
}
@font-face {
  font-family: "InterDisplay Fallback";
  font-style: italic;
  font-weight: 900;
  src: local("Arial Bold Italic");
  ascent-override: 94.69%;
  descent-override: 23.58%;
  line-gap-override: 0%;
  size-adjust: 102.3%;
}
