node_modules
package*.json

build
public/build
public/fonts
**/.*
**/*.d.ts

/app/styles/fonts.css
/app/styles/styles.css

components.json
tsconfig.json
*.config.js
*.config.ts

*.md
!app/**/*.md
!public/**/*.md
